.section-card {
  margin-top: 15px;
}
.section-covid {
  margin-top: 15px;
}

.slide-quotes {
  display: none;
}

@media screen and (min-width: 768px) {
  .slide-quotes {
    display: block;
    margin-top: 15px;
  }
}
